a.header__logo(href='/')

.header__menu
    a.header__menu-item(
        ng-repeat='item in menuItems'
        href='{{item.path}}'
        ng-class='{active: item.isActive(item.path)}'
    )
        = '{{item.title}}'
