a.header__logo(href='/')

.header__menu
    fp-link.header__menu-item(
        ng-repeat='item in vm.menuItems'
        data-url='{{item.path}}'
        ng-class='{active: item.isActive(item.path)}'
    )
        | {{item.title}}
