.main-page

    & > .history
        margin-top: 20px

    & > .reviews
        margin-top: 10px

    & > .car-services
        padding-left: 10px
        padding-right: 10px
        background-color: #f7f7f7

    &__recent-reviews
    &__top-car-services
        margin: 40px auto 0
        width: 960px
        display: block
        letter-spacing: .05em
        font-size: 16px
        font-family: Arial, sans-serif

    &__top-car-services
        margin-top: 20px
        padding: 20px 10px 0
        background-color: #f7f7f7
