.main-page

    & > .history
        margin-top: 20px

    & > .reviews
        margin-top: 10px

    &__recent-reviews
        margin: 40px auto 0
        width: 960px
        display: block
        letter-spacing: .05em
        font-size: 16px
        font-family: Arial, sans-serif
