.main-page
    fp-history
    fp-link.main-page__recent-reviews(url="/cars/reviews/") Последние отзывы о Fiat Punto
    fp-reviews(data-limit=3)
    fp-link.main-page__top-car-services(url="/car-services/") Топ автосервисов Fiat
    fp-car-services(data-limit=4, data-region="all")
    fp-link.main-page__parts-shops(url="/parts-shops/") Магазины запчастей Fiat
    fp-parts-shops(data-limit=4, data-region="all")
