doctype html

html(lang='ru', ng-app='myApp')

  head
    meta(charset='utf-8')
    title My AngularJS App
    meta(name='description', content='TBD')

  body
    fp-header
    ng-view
    fp-footer

    //- In production use `.min`
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular-route.js')
