doctype html

html(lang='ru', ng-app='myApp')

  head
    meta(charset='utf-8')
    //- todo: change on any state change
    title Fiat-punto
    //- todo: change on any state change
    meta(name='description', content='TBD')
    meta(name='yandex-verification', content='5cc0a077a9c408ca')

  body
    fp-header
    ui-view
    fp-footer

    //- In production use `.min`
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.js')
