.reviews__review(ng-repeat="review in vm.reviews")
    .reviews__review-title {{review.title}}
    .reviews__review-total-vote {{vm.getReviewTotalVote(review.votes.common)}}
    .reviews__review-info
        .reviews__review-posted-at {{review.postedAt}}
        .reviews__review-author {{review.author}}
        .reviews__review-car-info {{review.car.vendor}} {{review.car.model}} {{review.car.engine}} {{review.car.year}} г.в.
    .reviews__review-text {{review.text}}
    a.reviews__review-show-more(ng-href="/cars/{{review.car.slug}}/reviews/{{review.id}}/") Отзыв полностью
