.car-page__content
    fp-car-menu.car-page__menu(data-car="{{vm.currentCar}}")
    fp-title(data-level="3") Технические характеристики {{vm.currentCar | fpCar}}
    fp-car-tech-specs(data-car="{{vm.currentCar}}")
    fp-title(data-level="3") Фотографии {{vm.currentCar | fpCar}}
    fp-car-photos(data-car="{{vm.currentCar}}")
    fp-title(data-level="3") Отзывы о {{vm.currentCar | fpCar}}
    fp-reviews(data-car="{{vm.currentCar}}", data-limit="5", data-show-more="true")
